<footer class="footer" id="contact">
    <div class="container">
        <a href="#" class="back-to-top">
            <img class="arrow" src="img/Arrow_top.svg" alt="^">
        </a>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 order-lg-1 order-md-1">
                <a href="index.html" class="logo">
                    <img src="img/logo-dark.svg" alt="APPNEST">
                </a>
                <div class="footer-info"><p class="text">It is a long established fact that  it is reader will be distracted it by readable content of a pagei when at it conten making.</p></div>
                <div class="follow-us">
                    <h4>Follow Us</h4>
                    <a href="#"><img src="img/Facebook.svg" alt="Facebook"></a>
                    <a href="#"><img src="img/Twitter.svg" alt="Twitter"></a>
                    <a href="#"><img src="img/Instagram.svg" alt="Instagram"></a>
                    <a href="#"><img src="img/Linkedin.svg" alt="Linkedin"></a>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-6 order-lg-2 order-md-3">
                <div class="links">
                    <h4>Resources</h4>
                    <a href="#">Watch Demo</a>
                    <a href="#">Documents</a>
                    <a href="#">Intigrations</a>
                    <a href="#">Creating Tasks</a>
                    <a href="#">Themes</a>
                    <a href="#">Plugin</a>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-6 order-lg-3 order-md-4">
                <div class="links">
                    <h4>Company</h4>
                    <a href="#">Live Chanel</a>
                    <a href="#">Latest Peoject</a>
                    <a href="#">Manage Work</a>
                    <a href="#">Quick Start Guide</a>
                    <a href="#">Feedback</a>
                    <a href="#">Support Center</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 order-lg-4 order-md-2">
                <h4>Newsletter</h4>
                <p class="text">Subscribe to our newsletter for latest update</p>

                <div class="subscribe">
					<form action="#" name="email" method="post">
						<input type="email" placeholder="Enter your email">
						<input type="submit" value="">
					</form>
				</div>
            </div>
        </div>
    </div>
</footer>