@mixin font($fname, $fstyle, $fweight, $furl_woff2, $furl_woff) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		font-display: swap;
		src: local($fname),
			 url($furl_woff2) format("woff2"),
        	 url($furl_woff) format("woff");
	}
}

@include font('Poppins', normal, 400, '../fonts/poppins-regular.woff2', '../fonts/poppins-regular.woff');
@include font('Poppins', normal, 600, '../fonts/poppins-semibold.woff2', '../fonts/poppins-semibold.woff');
@include font('Poppins', normal, 700, '../fonts/poppins-bold.woff2', '../fonts/poppins-bold.woff');
@include font('Raleway', normal, 400, '../fonts/raleway-regular.woff2', '../fonts/raleway-regular.woff');
@include font('Raleway', normal, 500, '../fonts/raleway-medium.woff2', '../fonts/raleway-medium.woff');
@include font('Raleway', italic, 500, '../fonts/raleway-mediumitalic.woff2', '../fonts/raleway-mediumitalic.woff');

@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.eot?69564315');
	src: url('../fonts/fontello.eot?69564315#iefix') format('embedded-opentype'),
		url('../fonts/fontello.woff2?69564315') format('woff2'),
		url('../fonts/fontello.woff?69564315') format('woff'),
		url('../fonts/fontello.ttf?69564315') format('truetype'),
		url('../fonts/fontello.svg?69564315#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: never;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play_store:before {
	content: '\e800';
}

.icon-apple:before {
	content: '\e801';
}